{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="box box1">
    <div class="row" id="index_bg" style="height: 100%;">
        <div class="col text-center">
            <p class="display-4 text-light index_text" style="margin-top: 100px;">AI Camvas example text example text
            </p>
            <a class="btn btn-elegant btn-lg" style="margin-top: 100px;">創造の世界を体験する</a>
        </div>
    </div>
</div>
<div class="box box2">
    <div class="row">
        <div class="col-10 mx-auto mt-2">

            <div class="row">
                <div class="col">
                    <h2>AI Canvasの使い方</h2>
                    <p>
                        説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <h3>1</h3>
                    <p>画像を選択します</p>
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-4">
                    <h3>2</h3>
                    <p>スタイルを選択します</p>
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-4">
                    <h3>3</h3>
                    <p>AIが画像を変換します</p>
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col text-right mt-4">
                    <a href="" class="btn btn-deep-purple">創造の世界を体験する</a>
                </div>

            </div>

        </div>
    </div>

</div>
<!--box-->
<div class="box box3">
    <div class="row">
        <div class="col-10 mx-auto mt-2">

            <div class="row">
                <div class="col">
                    <h2>ユーザーをフォローして作品を見る</h2>
                    <p>
                        ユーザーをフォローして作品を見る
                        説明テキスト説明テキスト説明テキスト
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-4 mb-3">
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-4 mb-3">
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>

                <div class="col-4">
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-4">
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-4">
                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}" class="img-fluid" alt="">
                </div>

            </div>

            <div class="row mb-3">
                <div class="col text-right mt-3">
                    <a href="{% url 'app:users_timeline' %}" class="btn btn-warning">もっと見る</a>
                </div>

            </div>

        </div>
    </div>
</div>
<!--box-->
<div class="box box4">
    <div class="row">
        <div class="col">
            <h2>保存</h2>
        </div>
    </div>
</div>


{% endblock %}
{% block extrajs %}

<script src="https://cdn.jsdelivr.net/npm/jquery-scrollify@1/jquery.scrollify.min.js"></script>
<script>
    $.scrollify({ section: ".box" });
</script>
<script>
    $(function () {
        $('.index_text').textillate({
            //繰り返し
            loop: true,
            // アニメーションの間隔時間
            minDisplayTime: 300,
            // アニメーション開始までの遅延時間
            initialDelay: 0,
            // アニメーションの自動スタート
            autoStart: true,

            // 開始時のアニメーション設定
            in: {
                // エフェクトの指定
                effect: 'flipInY',
                // 遅延時間の指数
                delayScale: 1.5,
                // 文字ごとの遅延時間
                delay: 50,
                // true:アニメーションをすべての文字に同時適用
                sync: false,

            },

            // 終了時のアニメーション設定
            out: {
                effect: 'hinge',
                delayScale: 1.5,
                delay: 50,
                sync: false,
                shuffle: false
            }
        });
    });
</script>
{% endblock %}