{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="box box1">
    <div class="row" id="index_bg" style="height: 100%;">
        <div class="col text-center">
            <p class="display-4 text-light index_text" style="margin-top: 100px; text-align: center;">
                AI Camvas example text example text
            </p>
            <a href="{% url 'app:projects_create' %}" class="btn btn-elegant btn-lg"
                style="margin-top: 100px;">創造の世界を体験する</a>
        </div>
    </div>
</div>
<div class="box box2">
    <div class="row">
        <div class="col-10 mx-auto mt-2">

            <div class="row">
                <div class="col">
                    <h4>AI Canvasの使い方</h4>
                    <p>
                        説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <h4>1.画像を選択します</h4>

                    <img src="{% static 'images/site/assets/base.jpg' %}" style="object-fit: cover; height: 400px;"
                        class="img-fluid z-depth-3 rounded" alt="">
                </div>
                <div class="col-4">
                    <h3>2.スタイルを選択します</h3>

                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}"
                        style="object-fit: cover; height: 400px;" class="img-fluid z-depth-3 rounded" alt="">
                </div>
                <div class="col-4">
                    <h4>3.AI Canvasが画像を変換します</h4>

                    <img src="{% static 'images/site/assets/out.jpg' %}" style="object-fit: cover; height: 400px;"
                        class="img-fluid z-depth-3 rounded" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col text-right mt-4">
                    <a href="{% url 'app:projects_create' %}" class="btn btn-deep-purple">創造の世界を体験する</a>
                </div>
            </div>

        </div>
    </div>

</div>
<!--box-->
<div class="box box3">
    <div class="row">
        <div class="col-10 mx-auto mt-2">

            <div class="row">
                <div class="col">
                    <h2>ユーザーをフォローして作品を見る</h2>
                    <p>
                        ユーザーをフォローして作品を見る
                        説明テキスト説明テキスト説明テキスト
                    </p>
                </div>

            </div>

            <div class="row">
                {% for project in projects %}
                <div class="col-4 mb-3">


                    <!-- Card -->
                    <div class="card  mb-3">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top " src="{{ project.outputimagepath }}" alt="Card image cap">
                            <a href="#!">
                                <div class="mask waves-effect rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-3">
                                    <img src="{{ project.user.profile.profileimage.url }}" class="img-fluid" alt="">
                                </div>
                                <div class="col-9">
                                    <p>@{{ project.user.username }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <!-- Title -->
                                    <h4 class="card-title">Card title</h4>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the
                                        card title and make up the bulk of the card's content.
                                    </p>
                                    <!-- Button -->
                                    <a href="{% url 'app:projects_detail' project.id %}"
                                        class="btn btn-primary">Button</a>
                                </div>
                            </div>


                        </div>

                    </div>
                    <!-- Card -->



                </div>
                {% endfor %}
            </div>

            <div class="row mb-3">
                <div class="col text-right mt-3">
                    <a href="{% url 'app:users_timeline' %}" class="btn btn-warning">もっと見る</a>
                </div>

            </div>

        </div>
    </div>
</div>
<!--box-->


{% endblock %}
{% block extrajs %}

<script src="https://cdn.jsdelivr.net/npm/jquery-scrollify@1/jquery.scrollify.min.js"></script>
<script>
    $.scrollify({ section: ".box" });
</script>
<script>
    $(function () {
        $('.index_text').textillate({
            //繰り返し
            loop: true,
            // アニメーションの間隔時間
            minDisplayTime: 1000,
            // アニメーション開始までの遅延時間
            initialDelay: 0,
            // アニメーションの自動スタート
            autoStart: true,

            // 開始時のアニメーション設定
            in: {
                // エフェクトの指定
                effect: 'fadeInLeftBig',
                // 遅延時間の指数
                delayScale: 1.5,
                // 文字ごとの遅延時間
                delay: 50,
                // true:アニメーションをすべての文字に同時適用
                sync: false,

            },

            // 終了時のアニメーション設定
            out: {
                effect: 'hinge',
                delayScale: 1.5,
                delay: 50,
                sync: false,
                shuffle: false
            }
        });
    });
</script>
{% endblock %}