{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="box box1">
    <div class="row" id="index_bg" style="height: 100%;">
        <div class="col text-center">
            <p class="display-4 text-light index_text" style="margin-top: 100px;">
                Stir your imagination with AI canvas!
            </p>
            <p class="text-light index_text2"
                style="margin-top: 10px; margin-bottom: 0; font-size: 3rem; background-color: rgba(0,0,0,0.5);">
                想像力で成長させろ！
            </p>
            <p class="text-light index_text2"
                style="margin-top: 0; padding: 0;font-size: 3rem; background-color: rgba(0,0,0,0.5);">
                AIが作り出す、夢にまで見たあの世界！
            </p>
            <a href="{% url 'app:projects_create' %}" class="btn btn-elegant btn-lg animated bounceInUp slow"
                style="margin-top: 20px;">創造の世界を体験する</a>
        </div>
    </div>
</div>
<div class="box box2">
    <div class="row">
        <div class="col-10 mx-auto mt-2">

            <div class="row">
                <div class="col">
                    <h4>AI Canvasの使い方</h4>
                    <p>
                        説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <h4 class="indexh4">1.画像を選択します</h4 class="indexh4">

                    <img src="{% static 'images/site/assets/base.jpg' %}" style="object-fit: cover; height: 400px;"
                        class="img-fluid z-depth-3 rounded" alt="">
                </div>
                <div class="col-4">
                    <h4 class="indexh4">2.スタイルを選択します</h4>

                    <img src="{% static 'images/projectcreate/style/wave.jpg' %}"
                        style="object-fit: cover; height: 400px;" class="img-fluid z-depth-3 rounded" alt="">
                </div>
                <div class="col-4">
                    <h4 class="indexh4">3.AIが画像を変換します</h4 class="indexh4">

                    <img src="{% static 'images/site/assets/out.jpg' %}" style="object-fit: cover; height: 400px;"
                        class="img-fluid z-depth-3 rounded" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col text-right mt-4">
                    <a href="{% url 'app:projects_create' %}" class="btn btn-deep-purple">創造の世界を体験する</a>
                </div>
            </div>

        </div>
    </div>

</div>
<!--box-->
<div class="box box3">
    <div class="row">
        <div class="col-10 mx-auto mt-2">

            <div class="row">
                <div class="col">
                    <h2>ユーザーをフォローして作品を見る</h2>
                    <p>
                        ユーザーをフォローして作品を見る
                        説明テキスト説明テキスト説明テキスト
                    </p>
                </div>

            </div>

            <div class="row">
                {% for project in projects %}
                <div class="col-4 mb-3">


                    <!-- Card -->
                    <div class="card  mb-3">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top " src="{{ project.outputimagepath }}" alt="Card image cap">
                            <a href="{% url 'app:projects_detail' project.id %}">
                                <div class="mask waves-effect rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-3 mb-3">
                                    <img src="{{ project.user.profile.profileimage.url }}"
                                        class="img-fluid rounded-circle" alt="">
                                </div>
                                <div class="col-9">
                                    <h6 class="tex-left">@{{ project.user.username }}</h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <!-- Title -->
                                    <h4 class="card-title">{{ project.title }}</h4>
                                    <!-- Text -->
                                    <p class="card-text">{{ project.comment }}
                                    </p>

                                </div>
                            </div>


                        </div>

                    </div>
                    <!-- Card -->



                </div>
                {% endfor %}
            </div>

            <div class="row mb-3">
                <div class="col text-right mt-3">
                    <a href="{% url 'app:users_timeline' %}" class="btn btn-warning">もっと見る</a>
                </div>

            </div>

        </div>
    </div>
</div>
<!--box-->


{% endblock %}
{% block extrajs %}

<script src="https://cdn.jsdelivr.net/npm/jquery-scrollify@1/jquery.scrollify.min.js"></script>
<script>
    $.scrollify({ section: ".box" });
</script>
<script>
    $(function () {
        $('.index_text').textillate({
            //繰り返し
            loop: true,
            // アニメーションの間隔時間
            minDisplayTime: 1000,
            // アニメーション開始までの遅延時間
            initialDelay: 0,
            // アニメーションの自動スタート
            autoStart: true,

            // 開始時のアニメーション設定
            in: {
                // エフェクトの指定
                effect: 'fadeInLeftBig',
                // 遅延時間の指数
                delayScale: 1.5,
                // 文字ごとの遅延時間
                delay: 50,
                // true:アニメーションをすべての文字に同時適用
                sync: false,

            },

            // 終了時のアニメーション設定
            out: {
                effect: 'hinge',
                delayScale: 1.5,
                delay: 50,
                sync: false,
                shuffle: false
            }
        });

        $('.index_text2').textillate({
            //繰り返し
            loop: false,
            // アニメーションの間隔時間
            minDisplayTime: 1000,
            // アニメーション開始までの遅延時間
            initialDelay: 500,
            // アニメーションの自動スタート
            autoStart: true,

            // 開始時のアニメーション設定
            in: {
                // エフェクトの指定
                effect: 'fadeIn',
                // 遅延時間の指数
                delayScale: 1.5,
                // 文字ごとの遅延時間
                delay: 50,
                // true:アニメーションをすべての文字に同時適用
                sync: false,

            },

            // 終了時のアニメーション設定
            out: {
                effect: 'hinge',
                delayScale: 1.5,
                delay: 50,
                sync: false,
                shuffle: false
            }
        });
    });
</script>
{% endblock %}