{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="box box1">
    <div class="row" style="height: 100vh;">
        <div class="col-11 mt-4 mx-auto">
            <div class="row">
                <!-- 左側 -->
                <div class="col-9">

                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col">
                                    <img src="{{ project.baseimagepath }}" width="100%"
                                        class="mx-auto d-block img-fluid m-2 z-depth-4" alt="作品画像">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img src="{{ project.styleimagepath }}" width="100%"
                                        class="mx-auto d-block img-fluid m-2 z-depth-4" alt="作品画像">
                                </div>
                            </div>

                        </div>
                        <div class="col-9">

                            <!-- 作品画像 -->
                            <img src="{{ project.outputimagepath }}" width="100%"
                                class="mx-auto d-block img-fluid z-depth-4" alt="作品画像">

                        </div>
                    </div>

                </div>

                <!-- 右側 -->
                <div class="col-3">

                    <!-- ユーザー名 -->
                    <div class="row">
                        <!-- プロフィール画像 -->
                        <div class="col-3">
                            <img src="{{ project.user.profile.profileimage.url }}" width="50px" class="rounded-circle"
                                alt="">
                        </div>

                        <div class="col-9">
                            <a href="{% url 'app:users_detail' user.id %}" class="text-dark">
                                <p class="" style="text-align: left;">@{{ project.user }}</p>
                            </a>

                            {% if request.user != project.user %}
                            <a class="btn btn-outline-primary" href="#">フォローする</a>
                            {% endif %}

                        </div>
                    </div>

                    <!-- 作品タイトル -->
                    <div class="row">
                        <div class="col mt-3">
                            <h3 class="text-break">{{ project.title }}</h3>
                        </div>
                    </div>

                    <!-- 作品のコメント -->
                    <div class="row">
                        <div class="col">
                            <p class="text-break">{{ project.comment }}</p>

                            <!-- メッセージがある場合表示 -->
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}<button type="button"
                                    class="close" data-dismiss="alert" aria-label="閉じる">
                                    <span aria-hidden="true">&times;</span>
                                </button></div>
                            {% endfor%}
                            {% endif %}
                        </div>
                    </div>

                    <!-- 作成日 -->
                    <div class="row">
                        <div class="col">
                            <small>{{ project.created_at }}</small>
                        </div>
                    </div>

                    <!-- 共有 -->
                    <div class="row">
                        <div class="col-3 mx-auto">

                            <a href="{% url 'app:like' project.id %}"><i class="far fa-heart text-dark  mr-2"
                                    data-toggle="tooltip" data-placement="top" title="いいね"><small
                                        class="ml-2">{{ like.count }}</small></i></a>
                        </div>
                        <div class="col-3 mx-auto">

                            <a href="#"><i class="far fa-comment-dots text-dark mr-2" id="comment-btn"
                                    data-toggle="modal" data-target="#commentModal"><small
                                        class="ml-2">{{ cmnt.count }}</small></i></a>

                        </div>
                        <div class="col-3 mx-auto">
                            <a href="#"><i class="fas fa-share-alt  text-dark"></i></a>
                        </div>
                        <div class="col-3 mx-auto">
                            <a href="{% url 'map:locationmap' project.id %}"><i
                                    class="fas fa-map-marked-alt  text-dark " data-toggle="tooltip" data-placement="top"
                                    title="マップへ移動"></i></a>
                        </div>

                    </div>

                    <!-- みんなのコメント -->
                    <div class="row">
                        <div class="col">
                            <!-- 作品へのコメント -->
                            {% for c in cmnt %}
                            <div>
                                <p>@{{ c.user.username }} {{ c.text }}(返信)</p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!-- 作者専用 -->
                    {% if request.user == project.user %}
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#deleteModal">削除</button>
                            <a class="btn btn-info btn-sm" href="{% url 'app:projects_update' project.id %}">編集</a>
                        </div>
                    </div>
                    {% endif %}

                </div><!-- 右側 -->
            </div>
        </div>
    </div>

    <!-- モーダルの設定 -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <form action='{% url "app:comment_ajax" project.id %}' method="POST" id="formdatas">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">コメント<i
                                class="far fa-comment-dots text-dark ml-2"></i>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ commentform.text|add_class:"form-control"|attr:"placeholder:コメントを入力してください" }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                        <button type="submit" id="postbtns" class="btn btn-primary">コメントを投稿する</button>

                    </div><!-- /.modal-footer -->
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <form action="{% url 'app:projects_delete' project.id %}" method="POST" id="formdatas">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">投稿削除</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>本当に削除しますか？
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                        <button type="submit" id="postbtns" class="btn btn-primary">削除する</button>

                    </div><!-- /.modal-footer -->
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

{% endblock %}
{% block extrajs %}
<script>

</script>
{% endblock %}