{% extends 'base.html' %}
{% block content %}

<div>
    <a href="{% url 'app:index' %}">ホームに戻る</a>
</div>


<form class="ahoform" name="name_form" action="{% url 'app:test_ajax' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="base_area" style="cursor: pointer;">
        <p>ベース画像</p>
        <input type="file" accept="image/*" name="image" id="id_image">
    </div>

    <div id="style_area" style="cursor: pointer;">
        <p>スタイル画像</p>
        <input type="file" accept="image/*" name="style" id="id_style">
    </div>

    <input type="submit" value="スタイル変換">
</form>

<p id="id_div_ajax_response">
    ajax response here
</p>



<form action="{% url 'app:projects_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>コメント</th>
            <td>{{ form.comment }}</td>
        </tr>
        <tr>
            <th>画像</th>
            <td>{{ form.image }}</td>
        </tr>
        <tr>
            <th>カテゴリー</th>
            <td>{{ form.category }}</td>
        </tr>
    </table>
    <button type="submit">保存</button>
</form>

{% endblock %}
{% block extrajs %}
<script>

    $(document).ready(function () {

        // 指定部分にドラッグしたときの処理
        var base = $("#base_area");
        var style = $("#style_area");

        // 指定部分の上に乗っかっているときの処理
        base.on("dragover", function (e) {
            e.preventDefault();
            console.log("DragOver");
        });

        style.on("dragover", function (e) {
            e.preventDefault();
            console.log("DragOver");
        });

        // 指定部分でドロップしたときの処理
        base.on("drop", function (e) {
            e.preventDefault();
            document.getElementById("id_image").files = e.originalEvent.dataTransfer.files;
            console.log("Drop");
        });

        style.on("drop", function (e) {
            e.preventDefault();
            document.getElementById("id_style").files = e.originalEvent.dataTransfer.files;
            console.log("Drop");
        });

        $(".ahoform").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: "/test_ajax",
                method: "POST",
                data: new FormData($(".ahoform").get(0)),
                processData: false,
                contentType: false,
            }).done(function (data) {
                $("#id_div_ajax_response").text(data);
                console.log(data);
            });
        });
    });
</script>
{% endblock %}