{% extends 'base.html' %}
{% block content %}

<div>
    <a href="{% url 'app:index' %}">ホームに戻る</a>
</div>

<form action="{% url 'app:projects_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>コメント</th>
            <td>{{ form.comment }}</td>
        </tr>
        <tr>
            <th>画像</th>
            <td>{{ form.image }}</td>
        </tr>
        <tr>
            <th>カテゴリー</th>
            <td>{{ form.category }}</td>
        </tr>
    </table>
    <button type="submit" class="btn">保存</button>
</form>

<form action="{% url 'app:style_transfer' %}" class="ajax_fm" method="POST" >
    <!-- <form name="name_form" action="/test_ajax_app/" method="POST"> -->
    {% csrf_token %}
    <input type="text" id="id_input_text" name="name_input_text" value="">
    <button>submit</button>
    <!--
        <input class="btn" type="submit">
    -->
    </form>

<span id="id_div_ajax_response">
    AJAX RESPONSE
</span>

{% endblock %}
{% block extrajs %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // 送信ボタンで呼ばれる
    $('.ajax_fm').on('submit', e => {
        //確認用
        alert("SubmitPush");
        // デフォルトのイベントをキャンセルし、ページ遷移しないように!
        e.preventDefault();

        $.ajax({
            'url': '{% url "app:style_transfer" %}',
            'type': 'POST',
            'data': {
                //'title': $('#id_title').val(),  // 記事タイトル
            },
            'dataType': 'json'
        }).done(function(data){
            // <p>はろー</p>のような要素を作成し、それを記事一覧エリアに追加し、入力欄をクリアする。
            // const p = $('<p>', { text: response.title });
            // $('#posts').prepend(p);
            // $('#id_title').val('');
            console.log(data);
        }).fail(function (data) {
            alert("失敗");
        })

    });
</script>
{% endblock %}