{% extends 'base.html' %}

{% block content %}

<h2 class="user-name">@{{ user.username }}のmypage</h2>

<p>{{ user.username }}がフォローしてる人 =>
    {% for follow in follows %}
    <p>{{ follow.follower }}</p>
    {% endfor %}
</p>

<p>{{ user.username }}のフォロワー =>
    {% for follower in followers %}
    <p>{{ follower.follow }}</p>
    {% endfor %}
</p>
<hr>

{% for message in messages %}
<p class="message-success">{{ message }}</p>
{% endfor %}


<p>ギャラリー</p>
{% for project in projects %}
<a href="{% url 'app:projects_detail' project.id %}">
    <img src="{{ project.image.url }}" class="photo-img">
</a>
{% endfor %}

{% endblock %}