{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10 mp-main">
            <div class="row">
                <div class="col-2 mp-left">
                    <!-- 左側 -->

                    <div class="row">
                        <!-- ユーザアイコン -->
                        <div class="col-10 mp-usericon">
                            <img src="{{ user.profile.profileimage.url }}" alt="ユーザーアイコン">
                        </div>
                    </div><!-- ユーザアイコン -->

                    <div class="row">
                        <!-- ユーザプロフィール -->
                        <div class="col-10 mp-profile">
                            <p class="mp-pro-id">@{{ user.username }}</p>
                            <p class="mp-pro-name">H431公式アカウント</p>

                            <!-- 自分じゃなくてフォローしてない人 -->
                            {% if request.user != user %}
                            <a class="btn btn-outline-primary mt-2 mb-3 fw-btn" href="#">フォローする</a>
                            {% endif %}

                            <p class="mp-pro-sen">{{ user.profile.comment }}</p>

                            <!-- ログインユーザーだけの機能 -->
                            {% if request.user == user %}

                            <!-- 切り替えボタンの設定 -->
                            <button type="button" class="btn fw-btn btn-secondary col-12" data-toggle="modal"
                                data-target="#myModal">
                                <i class="fas fa-cog mr-1"></i>設定
                            </button>

                            <!-- 創造ボタン -->
                            <a class="btn btn-info mt-2 mb-3 fw-btn" href="{% url 'app:projects_create' %}"><i
                                    class="fas fa-palette mr-1"></i>創造する</a>

                            {% endif %}

                            <!-- モーダルの設定 -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"><i
                                                    class="fas fa-cog mr-1"></i>設定</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">アイコン：</label>
                                                <img src="{{ user.profile.profileimage.url }}" alt="">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">ヘッダー：</label>
                                                <img src="image/header/header01.jpg" alt="">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">ID：</label>
                                                <input type="textbox" class="form-control" id="exampleInputPassword1"
                                                    placeholder="@hal_official" value="">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">ユーザー名：</label>
                                                <input type="textbox" class="form-control" id="exampleInputPassword1"
                                                    placeholder="HAL公式アカウント">
                                            </div>

                                            <form>
                                                <div class="form-group">
                                                    <label for="message-text">自己紹介：</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">閉じる</button>
                                            <button type="button" class="btn btn-primary">変更を保存</button>
                                        </div><!-- /.modal-footer -->

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </div>
                    </div><!-- ユーザプロフィール -->


                </div><!-- 左側 -->

                <div class="col-10 right">
                    <!-- 右側 -->
                    <div class="row">
                        <div class="col-12 mp-header">
                            <!-- ヘッダー画像 -->
                            <img src="{% static 'images/header01.jpg' %}" alt="ヘッダー画像">
                        </div><!-- ヘッダー画像 -->
                        <div class="col-12 menutab">
                            <!-- タブ -->
                            <nav class="row mx-auto tab-width">
                                <div class="nav col-12 mx-auto tab-triangle-bg" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link col-4 tab tab-bg mx-auto active" id="nav-home-tab"
                                        data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Gallery({{ projects.count }})</a>
                                    <a class="nav-item nav-link col-4 tab tab-bg" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">follower({{ followers.count }})</a>
                                    <a class="nav-item nav-link col-4 tab tab-bg" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">follow({{ follows.count }})</a>
                                </div>
                            </nav>

                            <div class="tab-content col-12 mx-auto" id="nav-tabContent">
                                <div class="tab-pane active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="triangle-space">
                                        <div class="triangle"></div>
                                    </div>

                                    <div class="d-flex justify-content-between user-list">
                                        <!-- home -->
                                        <div class="album">
                                            <div class="container">
                                                <!-- message -->
                                                {% if messages %}
                                                <ul class="messages_ul">
                                                    {% for message in messages %}
                                                    <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible"
                                                        role="alert"><button type="button" class="close"
                                                            data-dismiss="alert" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>{{ message }}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                                <div class="row">

                                                    {% for project in projects %}
                                                    <div class="col-md-4 g-img">
                                                        <div class="card mb-4 box-shadow">
                                                            <a href="{% url 'app:projects_detail' project.id %}"> <img
                                                                    class="card-img-top"
                                                                    src="{{ project.outputimagepath }}"
                                                                    alt="Galleryimages"></a>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- user-list follow-->
                                </div><!-- tab content -->

                                <div class="tab-pane" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="triangle-space2">
                                        <div class="triangle"></div>
                                    </div>

                                    <div class="d-flex justify-content-between user-list">

                                        <!-- follower -->
                                        {% for follower in followers %}
                                        <div class="col-md-6">
                                            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                                <img class="card-img-right flex-auto d-none d-lg-block card-img"
                                                    src="{{ follower.follow.profile.profileimage.url }}" alt="ユーザアイコン">
                                                <div class="card-body d-flex flex-column align-items-start">
                                                    <h3 class="mb-0">
                                                        <a class="mr-3 text-dark"
                                                            href="{% url 'app:users_detail' follower.follow.id %}">{{ follower.follow.username }}</a>
                                                        <a class="btn btn-outline-primary btn-follow"
                                                            href="#">フォローする</a>
                                                    </h3>
                                                    <div class="d-flex w-100 mt-2">
                                                        <div class="mb-1 text-muted mr-3">{{ follower.follow.username }}
                                                        </div>
                                                        <div class="mb-1 mt-1 text-muted follow-mark">フォローされています</div>
                                                    </div>
                                                    <p class="card-text mb-auto">
                                                        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。実際に使用する際は、文章をカスタマイズしてください。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>

                                <div class="tab-pane" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <div class="triangle-space3">
                                        <div class="triangle"></div>
                                    </div>

                                    <div class="d-flex justify-content-between user-list">

                                        <!-- user-list follow-->
                                        {% for follow in follows %}
                                        <div class="col-md-6">
                                            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                                <img class="card-img-right flex-auto d-none d-lg-block card-img"
                                                    src="{{ follow.follower.profile.profileimage.url }}" alt="ユーザアイコン">
                                                <div class="card-body d-flex flex-column align-items-start">
                                                    <h3 class="mb-0">
                                                        <a class="mr-3 text-dark"
                                                            href="{% url 'app:users_detail' follow.follower.id %}">{{ follow.follower.username }}</a>
                                                        <a class="btn btn-primary btn-follow" href="#">フォロー中</a>
                                                    </h3>
                                                    <div class="d-flex w-100 mt-2">
                                                        <div class="mb-1 text-muted mr-3">{{ follow.follower.username }}
                                                        </div>
                                                        <div class="mb-1 mt-1 text-muted follow-mark">フォローされています</div>
                                                    </div>
                                                    <p class="card-text mb-auto">
                                                        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。実際に使用する際は、文章をカスタマイズしてください。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div><!-- タブ -->
                    </div>
                </div><!-- 右側 -->
            </div>
        </div>
    </div>
</div>
{% endblock %}