<!--


<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{ user.profile.profileimage.url }}" style="width: 100px; height: 100px; border: solid 1px black;"
                class="rounded-circle">
            @{{ user.username }}
        </div>
        <div class="col-9">
            <p>{{ user.username }}がフォローしてる人 =>
                {% for follow in follows %}
                {{ follow.follower }}
                {% endfor %}
            </p>

            <p>{{ user.username }}のフォロワー =>
                {% for follower in followers %}
                {{ follower.follow }}
                {% endfor %}
            </p>

            <a href="{% url 'app:projects_create' %}">プロジェクト作成</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            {% for message in messages %}
            <p class="message-success">{{ message }}</p>
            {% endfor %}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#garally" class="nav-link active" data-toggle="tab">ギャラリー</a>
                </li>
                <li class="nav-item">
                    <a href="#photo2" class="nav-link" data-toggle="tab">フォロワー</a>
                </li>
                <li class="nav-item">
                    <a href="#photo3" class="nav-link" data-toggle="tab">タブ3</a>
                </li>

                <div class="tab-content">
                    
                    <div id="garally" class="tab-pane active">
                        {% for project in projects %}
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="{% url 'app:projects_detail' project.id %}">
                                    <img src="{{ project.outputimagepath }}" class="rounded" alt="img"
                                        style="width:100%">
                                    <div class="caption">
                                        <p>{{ project.title }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </ul>
        </div>
    </div>
</div>

-->
<!--user details-->

{% load static %}

<!doctype html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/common.css' %}">

    <title>AIキャンパス</title>
</head>

<body>
    <div class="d-flex justify-content-between p-1 px-md-4  bg-white border-bottom shadow-sm">
        <h5 class="my-3 ml-3 mr-auto font-weight-normal"><i class="fas fa-piggy-bank"></i></h5>
        <nav class="d-flex justify-content-between my-2 my-0 mr-3">

            <div id="wrap">
                <form action="" autocomplete="on">
                    <input id="search" name="search" type="text" placeholder="検索"><input id="search_submit"
                        value="Rechercher" type="submit"><i class="fas fa-search"></i>
                </form>
            </div>

            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-bell"></i>
                </button>
                <div class="dropdown-menu left" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">通知はありません。</button>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu signin">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                                placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="position-relative overflow-hidden user-head">
        <div class="filter">
            <div class="row">
                <div class="col-4">
                    <div class="user-icon">
                        <img src="{{ user.profile.profileimage.url }}" alt="ユーザーアイコン">
                    </div>
                </div>
                <div class="col-7">
                    <div class="user-profile w-75 pl-5 pt-3">

                        <div class="row">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-grow-1 bd-highlight">
                                    <h1 class="mt-2">@{{ user.username }}</h1>
                                </div>
                                <div class="p-2 bd-highlight"><a class="btn btn-outline-primary mt-2"
                                        href="#">フォローする</a></div>
                                <div class="p-2 bd-highlight pt-4"><a class="text-dark" href="#"><i
                                            class="fas fa-cog"></i></a></div>
                                <div class="p-2 bd-highlight pt-4"><a class="text-dark" href="#"><i
                                            class="fas fa-palette"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-4"><a href="#">作品{{ projects.count }}件</a></div>
                            <div class="col-4"><a href="follower.html">フォロワー{{ followers.count }}人</a></div>
                            <div class="col-4"><a href="follow.html">{{ follows.count }}人をフォロー中</a></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2>@{{ user.username }}</h2>
                            </div>
                            <div class="col-12 m-3">
                                <p class="w-75">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。実際に使用する際は、文章をカスタマイズしてください。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                {% for project in projects %}
                <div class="col-md-4 g-img">
                    <div class="card mb-4 shadow">
                        <img class="card-img-top" src="{{ project.outputimagepath }}" alt="Galleryimages">
                        <div class="card-body">
                            <p class="card-text">{{ project.title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mt-md-0 mt-3 m-auto small">

                    <!-- Content -->
                    <h5 class="text-uppercase">AI Campus</h5>
                    <p class="">想像力で成長させろ！AIが作り出す、夢にまで見たあの世界！</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">



                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 m-auto small">

                    <!-- Links -->
                    <h5 class="text-uppercase">リンク集</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">AIキャンパスについて</a>
                        </li>
                        <li>
                            <a href="#!">プライバシー</a>
                        </li>
                        <li>
                            <a href="#!">利用規約</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> AI Campus.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>