{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form class="form-signin" method="post">{% csrf_token %}
                <div class="form-group">
                    <label>ユーザー名</label>
                    <input class="form-control" name="username">
                </div>

                <div class="form-group">
                    <label>パスワード</label>
                    <input type="password" class="form-control" name="password">
                    <br>
                </div>

                <button type="submit" class="btn btn-success btn-block my-4 waves-effect waves-light">ログイン</button>

            </form>

        </div>
    </div>
</div>


{% endblock %}