{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html {
            height: 100%
        }

        body {
            height: 100%
        }

        #map {
            height: 100%;
            width: 100%
        }
    </style>
</head>

<body>


    <div id="map"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>


        $.ajax({
            'url': 'map/ajax_projectdata',
            'type': 'GET',
            'dataType': 'json'

        }).done(function (data) {

            console.log(data);
        }).fail(function () {
            console.log("era-");
        })






        function initMap() {
            var latlng = new google.maps.LatLng(34.808502, 135.639683);//中心の緯度, 経度

            var imgpath = "{% static 'images/udnie.jpg' %}";
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,//ズームの調整
                center: latlng,//上で設定した中心
                styles: [
                    {
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            },
                            {
                                "color": "#f49f53"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "stylers": [
                            {
                                "color": "#f9ddc5"
                            },
                            {
                                "lightness": -7
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "stylers": [
                            {
                                "color": "#813033"
                            },
                            {
                                "lightness": 43
                            }
                        ]
                    },
                    {
                        "featureType": "poi.business",
                        "stylers": [
                            {
                                "color": "#645c20"
                            },
                            {
                                "lightness": 38
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "color": "#1994bf"
                            },
                            {
                                "saturation": -69
                            },
                            {
                                "gamma": 0.99
                            },
                            {
                                "lightness": 43
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#f19f53"
                            },
                            {
                                "weight": 1.3
                            },
                            {
                                "visibility": "on"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "poi.business"
                    },
                    {
                        "featureType": "poi.park",
                        "stylers": [
                            {
                                "color": "#645c20"
                            },
                            {
                                "lightness": 39
                            }
                        ]
                    },
                    {
                        "featureType": "poi.school",
                        "stylers": [
                            {
                                "color": "#a95521"
                            },
                            {
                                "lightness": 35
                            }
                        ]
                    },
                    {},
                    {
                        "featureType": "poi.medical",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#813033"
                            },
                            {
                                "lightness": 38
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {
                        "elementType": "labels"
                    },
                    {
                        "featureType": "poi.sports_complex",
                        "stylers": [
                            {
                                "color": "#9e5916"
                            },
                            {
                                "lightness": 32
                            }
                        ]
                    },
                    {},
                    {
                        "featureType": "poi.government",
                        "stylers": [
                            {
                                "color": "#9e5916"
                            },
                            {
                                "lightness": 46
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "stylers": [
                            {
                                "color": "#813033"
                            },
                            {
                                "lightness": 22
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "stylers": [
                            {
                                "lightness": 38
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#f19f53"
                            },
                            {
                                "lightness": -10
                            }
                        ]
                    },
                    {},
                    {},
                    {}
                ],
            });
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                icon: {
                    url: imgpath,
                    scaledSize: new google.maps.Size(100, 70)
                }
            });
        }
    </script>
    <script async defer
        src="http://maps.google.com/maps/api/js?key=AIzaSyBvwSzoVar00cOjgEaOhR1NmtyNcdRJeyo&language=ja&callback=initMap"></script>


</body>

</html>