{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="post" enctype="multipart/form-data" action="{% url 'accounts:signup' %}">
                {% csrf_token %}

                {% for field in user_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control form-control-sm" %}
                </div>
                {% endfor %}

                {% for field in profile_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control-file form-control-sm" %}
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary btn-block" value="登録">
            </form>

            <p><a href="{% url 'accounts:login' %}">ログインはこちら</a></p>
        </div>
    </div>
</div>
{% endblock %}