html,body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

body{
}

a{
  color: #000;
}

a:hover{
  color: #000;
  text-decoration: none;
}

a:after{
  color: #707070;
}

a:focus, *:focus {
  outline:none;
}

/********************** art-main **********************/
.art-main{
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}


/********************** art-left **********************/
.art-left{}

/** 作品画像エリア **/
.art-img{
  width: 100%;
  margin: 0 auto;
}

/** 作品画像 **/
.art-img img{
  width: 100%;
  height: auto;
}

/********************** art-right **********************/
.art-right{}

/** 作品説明 **/
.art-des{
  margin-top: 2%;
}

/** 作品タグ **/
.art-des-tag{
  border-bottom: 1px solid #dee2e6;
}

/** 作品説明ID **/
.art-des-id{
  font-size: 24px;
  font-weight: 600;
  margin-top: 2%;
}

/** 作品説明エリア **/
.art-des-sen{
  border-bottom: 1px solid #dee2e6;
}

/** 作品タイトル **/
.art-tit{
  margin-top: 2%;
}

.art-tit-name{
  font-size: 24px;
}

.art-tit-user{
  font-size: 24px;
}

/** 作品説明文 **/
.art-sen{
  margin-bottom: 2%;
}

/** 作品共有 **/
.art-des-share{
  margin-top: 2%;
  border-bottom: 1px solid #dee2e6;
}

/** 作品コメント **/
.art-des-comment{}

/** 作品コメント-見出し **/
.art-des-comment-tit{
  font-size: 20px;
}

/** 作品コメント-要素 **/
.art-des-comment-user{
  margin-left: 2%;
  border-bottom: 1px solid #dee2e6;
}












/********************** other **********************/


.btn-follow{
  font-size: 11px;
  margin-top: -3%;
}

.follow-mark{
  font-size: 11px;
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
  background: #D4D5D9;
  box-sizing: border-box;
}

.card-img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 3%;
}



