body {
  margin:0;
  padding:0;
  text-align: left!important;
}

a{
  color: #000;
}

a:hover{
  color: #000;
  text-decoration: none;
}

a:after{
  color: #707070;
}

a:focus, *:focus {
  outline:none;
}


.logo img{
  height: 50px;
  width: auto;
}


.left{/* 通知 */
  position: absolute;
  left: -125px;
}

.signin{
  position: absolute;
  left: -225px;
}


#wrap {/*全体*/
  margin: 7px 10px;
  display: inline-block;
  position: relative;
  float: right;
  padding: 0;
  position: relative;
}



input[type="text"][id="search"] {/*入力部分スタイリング。width: 0px;にしておく*/
  font-size: 20px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"][id="search"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"][id="search"]:focus {
  width: 250px;/*テキストボックスの長さ*/
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"][id="search_submit"] {/*アイコン部分*/
  display: inline-block;
  color:red;
  float: right;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  cursor: pointer;
  transition: opacity .4s ease;
}


#search{
  font-size: 14px;
}

