body {
  margin:0;
  padding:0;
  /* background:#ccc; */
  /* background:#f7fcfe; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  text-align: left!important;
}

a{
  /* color: #707070; */
  color: #000;
}

a:hover{
  color: #000;
  text-decoration: none;
}

a:after{
  color: #707070;
}

a:focus, *:focus {
  outline:none;
}




.user-head{
  background-image: url("../image/user/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter{
  background: rgba(255,255,255,0.5);
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.user-icon img{
  width: 200px;
  height: 200px;
  border-radius: 50% 50%;
  margin-left: 32%;
  margin-top: 2rem;
}

.user-profile{
  background: rgba(255,255,255,0.6);
  border-radius: 5px;
}

.user-profile i{
  margin-right: 100%;
}

.user-profile h1{
  font-size: 32px;
  font-weight: 600;
}

.user-profile h2{
  font-size: 24px;
  font-weight: 400;
}

.user-profile p{

}

.tab{
  margin: 0 auto!important;
  text-align: center!important;
}






.g-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}


.left{
  position: absolute;
  left: -125px;
}

.signin{
  position: absolute;
  left: -225px;
}






#wrap {/*全体*/
  margin: 7px 10px;
  display: inline-block;
  position: relative;
  /* height: 60px; */
  float: right;
  padding: 0;
  position: relative;
}




#search{
  font-size: 14px;
}







