#base_area{
  
}



#preview{
   width:60%;
}

#style_area{
    width: 60%;
    height: 260px;
    border: 1px solid #000;
    margin: auto;
}

#stylepreview{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#create-bg{
    /* background-image: url("/static/images/create_bg.jpg"); */
    background-size: cover;
}