#base_area{
  
}

#wrap {
    overflow: hidden;
}

#preview{
   width:60%;
}

#style_area{
    width: 60%;
    height: 260px;
    border: 1px solid #000;
    margin: auto;
}

.relative{
    position: relative;
    width: 800px;
}


.absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
}

div#index_bg{
    background-image: url("../images/site/bg/bg.jpg");
    background-size: cover;

    display: flex;
    /* align-items: center; */
    justify-content: center;
}